#fof-body {
				background: url("hexagon.png");
                                background-color: gold;
				background-Size: cover;
				height: 100%;
        color: purple;
        text-align: center;
        font-size: 50px;
    alignment-adjust: middle;
}
#alert-body {
    background-color: gold;
    color: green;
    text-align: center;
}
#pop-up-body {
    background-color: black;
    color: lightgreen;
    text-align: center;
}
#bio-body {
    background-color: black;
    color: lightblue;
    text-align: center;
}
#color-test-body {
    text-align: center;
}
#index-body{
    background-color: Black;
    color: White;
   text-align: center;
}
a {
    color: chartreuse;
}
#javastyle {
    background-Color: Black;
    color: chartreuse;
    text-align: center;
}
.tr {
    width: 100px;
    Height: 100px;
    border: 15px;
    font-size: 80px;
    text-align: center;
    
}
#sitemapbody {
    background-color: black;
    text-align: center;
    color: aqua;
     
}
