body {
				background: url("hexagon.png");
                                background-color: orange;
				background-Size: cover;
				height: 100%;
        color: purple;
        text-align: center;
        font-size: 50px;
    alignment-adjust: middle;
}
