#404-body {
				background: url("hexagon.png");
                                background-color: gold;
				background-Size: cover;
				height: 100%;
        color: purple;
        text-align: center;
        font-size: 50px;
    alignment-adjust: middle;
}
#alert-body {
    background-color: gold;
    color: green;
    text-align: center;
}
#pop-up-body {
    background-color: black;
    color: lightgreen;
    text-align: center;
}
#bio-body {
    background-color: black;
    color: lightblue;
    text-align: center;
}